* {
  padding: 0;
  margin: 0;
}

body {
  background-color: lightcoral;
  font-family: Arial, Helvetica, sans-serif;
  height: 200vh;
}

form {
  margin: 8% auto;
  max-width: 400px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  color: #333;
  background: #f9f9f9;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

label {
  color: #555;
  margin-bottom: 5px;
  display: block;
}

button {
  width: 100%;
  background-color: #007bff;
  padding: 12px;
  border: none;
  color: white;
  border: 5px;
  cursor: pointer;
}

h2::before {
  content: "📩 ";
}

h2::after {
  content: " - Por favor llena todos los campos";
  color: #007bff;
  font-style: italic;
  font-size: 0.6em;
  margin-left: 10px;
}

p::first-line {
  color: red;
}

p::first-letter {
  color: yellow;
  font-size: 40px;
  font-weight: bold;
}

::selection {
  color: ck;
}
